body {
    margin: 0;
    overflow: hidden;
}

#canvas {
    position: absolute;
}

#loading {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#container {
    position: absolute;
    display: none;
    grid-template-columns: auto auto;
    grid-template-rows: 7vw auto;
    background-color: rgba(0, 0, 0, 0.6);
    width: 70%;
    height: 70%;
    border-radius: 25px;
   
    /* Center it */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#weatherText {
    display: inline-grid;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;
    padding-left: 10%;
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
}

#temperature {
    display: inline-grid;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;
    display: inline-block;
    text-align: center;
    padding-right: 10%;
    vertical-align: middle;
    margin-top: 5px;
}

#todoList {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 2 / span 4;
    background-color: white;
    margin: 20px;
    text-align: center;
}